$bar_primary: #198dd5;
$bar_bg: rgb(51, 51, 51);
$bar_text: rgba(255, 255, 255, 0.75);
$bar_link: rgb(255, 255, 255);

$modal_primary: #198dd5;
$modal_overlay: rgba(0, 0, 0, 0.4);
$modal_bg: rgb(255, 255, 255);
$modal_footer: rgb(244, 245, 247);
$modal_title: rgba(0, 0, 0, 0.8);
$modal_text: rgba(0, 0, 0, 0.5);
$modal_icon: rgb(189, 189, 189);
